/*color schemes
	pink - #e54572
	lpink - #ebb6c5
	purple - #8c6ebd
	lpurple - #c3b5d9
	grey - #e0e0e0;
*/

.active a, .active i{
	color: #e54572 !important;
}

.nav li:hover{
	background-color: #e0e0e0;
}


.card{
	font-family: Montserrat;
}

.card .smbtn{
	color: black;
	border:solid 1.5px black;
	background: none;
}

.card .smbtn:hover{
	background-color: #e54572 !important;
	border: solid 1px #e54572;
}


.card .lgbtn{
	color: black;
	border:solid 1.5px black;
	background: none;
}

.card .lgbtn:hover{
	background-color: #ebb6c5 !important;
	border: solid 1px #ebb6c5;
}

.text-custom{
	color: #e54572;
}


.bgbody{
	background-color: #f4f3ef;
}

.collapse-row.collapsed + tr {
     display: none;
  }